node_modules
npm-debug.log
.expo
.expo-shared
dist
dist-*
.vscode
.idea
*.log
.DS_Store
.env.local
.env.*.local
coverage
.git
.gitignore
README.md
android/app/build
ios/Pods
ios/build
*.mobileprovision
*.p12
*.cer
*.certSigningRequest
